<h1>Rock. Paper. Scissors.</h1>

<p>Make your choice and see if you can outwit your computer.</p>

<div class = "column"><a href="/aigame/rock"><img border="0" alt="Rock" src="rock.jpg" width="250" height="250"></a></div>
<div class = "column"><a href="/aigame/scissors"><img border="0" alt="Scissors" src="scissors.jpg" width="250" height="250"></a></div>
<div class = "column"><a href="/aigame/paper"><img border="0" alt="Paper" src="paper.jpg" width="250" height="250"></a></div>
