<h1>How to play the game</h1>

<p>To play rock paper scissors, click below on your choice of Rock, Paper or Scissors and see if you can beat the computer!</p>

<p><a href="/aigame/rock">Choose Rock</a></p>
<p><a href="/aigame/scissors">Choose Scissors</a></p>
<p><a href="/aigame/paper">Choose Paper</a></p>
