body {
  background-color: seashell;
}

h1 {
  padding-top: 50px;
  text-align: center;
  font-family: chalkduster, fantasy;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  padding-top: 150px;
  text-align: center;
  font-family: chalkduster, fantasy;
  font-size: 35px;
}

h3 {
  padding-top: 50px;
  text-align: center;
  font-family: chalkduster, fantasy;
  font-size: 35px;
}

p {
  text-align: center;
  font-family: chalkduster, fantasy;
  font-size: 15px;
}

a {
  color: #008B8B
}

.column {
  padding-top: 25px;
  text-align: center;
  position: relative;
  display: inline-block;
  float: left;
  width: 33.33%;
}
